<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="file" fileName="logs/log4j/log.txt">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="file2" fileName="logs/log4j/log_trace.txt">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <JDBC name="db" tableName="APP_LOGS">
            <DriverManager connectionString="jdbc:firebirdsql://localhost:3050/C:\Users\Фаягуль\IdeaProjects\HelloApp\src\main\java\com\example\part1\lesson15\task1\db\STORE.FDB"
                           driverClassName="org.firebirdsql.jdbc.FBDriver"
                           username="SYSDBA" password="masterkey"/>
            <Column name="LOG_ID" pattern="%u" isUnicode="false"/>
            <Column name="ENTRY_DATE" isEventTimestamp="true" isUnicode="false"/>
            <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
            <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
            <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
            <Column name="EXCEPTION" pattern="%throwable " isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="file" level="DEBUG"/>
            <AppenderRef ref="stdout" level="DEBUG"/>
        </Root>
        <Logger name="com.example.part1.lesson15.task1.main.WorkWithDB" level="info" additivity="false">
            <AppenderRef ref="file2" level="INFO"/>
            <AppenderRef ref="stdout" level="INFO"/>
            <AppenderRef ref="db" level="INFO"/>
        </Logger>
    </Loggers>
</Configuration>